.review-content {
  width: 100%;
}

.review-content__box {
  display: flex;
  flex-direction: column;
}

.comment-info {
  display: flex;
  flex-direction: row;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
}

.comment-user,
.comment-time,
.comment-star {
  width: 33%;
  height: 30px;
  line-height: 30px;
}

.comment-user {
  border-left: 1px dashed rgba(0, 0, 0, 0.3);
  border-right: 1px dashed rgba(0, 0, 0, 0.3);
}

.comment-content {
  width: 100%;
  padding: 10px 20px;
  text-align: left;
}
