.store-title {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 150px;
  padding-top: 20px;
}

.store-title > div {
  height: 100px;
  line-height: 110px;
  font-size: 70px;
  border-bottom: 2px solid black;
}
