.welcome-header {
  margin: 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcome-header__title {
  margin-bottom: 5px;
  font-size: 25px;
}

.welcome-header__text {
  opacity: 0.5;
  line-height: 25px;
}

.login-bape-img {
  width: 40px;
  height: 40px;
  background-color: rgba(249, 240, 219, 0.1);
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  font-size: 15px;
  padding: 15px 0px;
}

#login-form > input:nth-child(3) {
  margin-top: 50px;
}

#login-form input:not([type="submit"]) {
  background-color: var(--beige);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  transition: border-color 0.3s ease-in-out;
  outline: none;
}

#login-form input[type="submit"] {
  cursor: pointer;
  color: white;
  background-color: #4e3504;
  border-radius: 10px;
  margin-bottom: 10px;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

#login-form input:focus {
  border-color: rgba(78, 53, 4, 0.7);
}

#login-form a {
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}
